/* MOBILE BACKGROUND */
@media only screen and (max-width: 600px) {
  .background {
    background: url("../../../../public/coaching-plans-mobile-bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 28vw;
  }
}

/* BIGGER-THAN-MOBILE BACKGROUND */
@media only screen and (min-width: 600px) {
  .background {
    background: url("../../../../public/coaching-plans-bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 12vw;
  }
}

/* .monthlyBg {
  background: url("../../../../public/monthly.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: fit-content;
  padding: 1rem;
}

.months3Bg {
  background: url("../../../../public/3-months.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: fit-content;
  padding: 1rem;
}

.months6Bg {
  background: url("../../../../public/6-months.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: fit-content;
  padding: 1rem;
}

.annualBg {
  background: url("../../../../public/annual.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: fit-content;
  padding: 1rem;
} */
