.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  /* background: #f1f1f1; */
  background: linear-gradient(to bottom, #dd4398, #00aeef);
  background-size: auto 300%;
  animation: gradient 10s ease infinite;
  -webkit-animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #181818;
  padding: 0.3rem 0.3rem 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #ffffff;
}

.bm-item-list {
  color: #ffffff;
  padding: 2em 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(24, 24, 24, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* styling next link component so that will be a column list of links*/
.bm-item-list a {
  display: flex;
  flex-direction: column;
  padding: 0.3em 0;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
