@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Organetto";
  src: url("../../public/fonts/organetto/Fontspring-DEMO-organetto-semiexpultrabold.otf")
    format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mortend";
  src: url("../../public/fonts/mortend/Mortend-Regular.otf") format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../public/fonts/oswald/static/Oswald-Regular.ttf")
    format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Articulat";
  src: url("../../public/fonts/articulat-cf/ArticulatCF-Regular.otf")
    format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/poppins/Poppins-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Articulat";
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(1.5rem + 0.390625vw);
  overflow-x: hidden;
}

@layer utilities {
  .popup {
    @apply bg-popup bg-contain bg-center bg-no-repeat;
  }

  .contest-bg {
    @apply bg-contestMobile bg-cover bg-no-repeat sm:bg-contest lg:bg-contain py-[5%];
  }
}
